<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EiganUSA &reg;</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eigenthread.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/queries.css" asp-append-version="true" />
</head>
<body>
    <header class="header nav-open">
       <a href="#">
           <img class="logo" src="~/img/PatentPrepper_Logo.png">
       </a>
       <nav class="main-nav">
           <ul class="main-nav-list">
                <li><a class="main-nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a href="#bundle"class="main-nav-link">PatentPrepper Bundle &reg;</a></li>
                <li><a href="#cta" class="main-nav-link">Consulting Services</a></li>
                <li><a class="main-nav-link" asp-area="" asp-controller="Home" asp-action="EBooks">E-Books</a></li>
                <li><a class="main-nav-link" asp-area="" asp-controller="Home" asp-action="Webcrawlers">Webcrawlers</a></li>
                <li><a href="https://www.linkedin.com/newsletters/7129127192512401408/" target="_blank" class="main-nav-link nav-cta">Daily Blog</a></li>
           </ul>
       </nav>

       <button class="btn-mobile-nav">
            <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
            <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
       </button>
    </header>
    <main>
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
