
@{
    ViewData["Title"] = "Legal Page";
}

<div class="hero">
    <div class="hero-text-box">
        <h1>
            EigenThread Terms and Conditions
        </h1>
        <p>
            These terms and conditions create a contract between you and EigenThread.
        </p>
        <p>
            Thank you for choosing EigenThread. By using, downloading, accessing, or copying content 
            from our website or that of our affiliates, you agree to be bound by this agreement and any 
            future novations to this agreement.You should review this Agreement from time to time to ensure you are aware of any changes.
        </p>
        <p>
            You must be at least 18 years old to use the Services. 
            If you are using the Services on behalf of another person or entity, 
            you must have the authority to accept the Terms on their behalf.
        </p>
    </div>
    <div class="hero-text-box">
        <h2>
            Prohibited Content Usage
        </h2>
        <p>
            These are the restricted uses that are standard for all Users. The Licensor prohibits the 
            use of Materials in the following cases:
        </p>
        <ul>
            <li>In criminal, illegal, or other unlawful manner; or in violation of any applicable national, federal, state, 
                local, or international law or regulation;</li>
            <li>
                To create or disseminate verifiably false or misleading information and/or content aiming to harm or deceive others;
            </li>
            <li>
                To create or disseminate personal identifiable information that can be used to harm an individual;
            </li>
            <li>
                For defamation, disparaging, harassment, discrimination, or promotion of violence or hatred towards a 
                definite or indefinite group of people or an individual person;
            </li>
            <li>
                To exploit, harm, or attempt to exploit or harm minors in any manner;
            </li>
            <li>
                To provide medical advice or interpret medical results;
            </li>
            <li>
                To infringe or violate the intellectual property or other rights of any third party;
            </li>
        </ul>
    </div>
</div>
