@{
    ViewData["Title"] = "Welcome Page";
}

@*<div class="text-center">
    <main>
        <section class="section-hero">
            <div class="hero">
                <div class="hero-text-box">
                    <h1 class="heading-primary">
                        Premium DeepFake content for commerical use at your fingertips!
                    </h1>
         
                    <a href="https://simchaphysicist.gumroad.com" class="btn">Purchase DeepFake content here</a>
                    <p class="hero-description">
                        At EiganUSA, we provide you with digital DeepFake stock photos and videos to be embedded within your
                        unique online and marketing strategems for a small fee.
                    </p>
                    
                    <img src="~/img/latvian_woman_smiling1.png" class="hero-img" alt="Woman smiling" />
                    <img src="~/img/columbian_woman_smiling4.png" class="hero-img" alt="Woman smiling" />
                    <img src="~/img/latvian_woman_smiling2.png" class="hero-img" alt="Woman smiling" />
                    <img src="~/img/swiss_woman_smiling2.png" class="hero-img" alt="Woman smiling" />
                </div>
                <div class="hero-img-box">
                    <img src="~/img/woman_original.png" class="hero-img" alt="Woman smiling" />
                    <img src="~/img/greek_woman_smiling1.png" class="hero-img" alt="Woman smiling" />
                    <img src="~/img/columbian_woman_smiling2.png" class="hero-img" alt="Woman smiling" />
                    <img src="~/img/columbian_woman_smiling3.png" class="hero-img" alt="Woman smiling" />
                    <img src="~/img/ukranian_woman_smiling1.png" class="hero-img" alt="Woman smiling" />
                    <img src="~/img/ukranian_woman_smiling2.png" class="hero-img" alt="Woman smiling" />
                    <img src="~/img/russian_woman_smiling1.png" class="hero-img" alt="Woman smiling" />
                    <img src="~/img/russian_woman_smiling2.png" class="hero-img" alt="Woman smiling" />
                    <img src="~/img/columbian_woman_smiling5.png" class="hero-img" alt="Woman smiling" />

                </div>
            </div>
        </section>
    </main>
</div>*@

<section class="section-hero">
    <div class="hero-text-box">
        <h1 class="heading-primary">A healthy meal delivered to your door, every single day</h1>
        <p class="hero-description">
            The smart 365-days-per-year food subscription
            that will make you eat healthy again. Tailored
            to your personal tastes and nutritional needs
            . We have devlivered 250,000+ meals last year!
        </p>
        <a href="#" class="btn">Start eating well</a>
        <a href="#" class="btn">Learn more &darr;</a>
    </div>
    <div class="hero-img-box">
        <img src="~/img/patent_analytics.png" class="hero-img" alt="EiganUSA marketing banner" />
    </div>
</section>


