@{
    ViewData["Title"] = "Welcome Page";
}

<section class="section-hero">
    <div class="hero">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                Providing those with a need to know.
            </h1>
            <p class="hero-description">
                At EigenUSA, we serve clients by transforming their ideas and innovations into
                tangible assets that can be sold, traded, used to obtain financing, etc.
            </p>
            <a href="#bundle" class="btn btn--full margin-right-sm">Click for a free consultation</a>
            <a href="#how" class="btn btn--outline">Learn more &darr;</a>
            <div class="delivered-meals">
                <div class="delivered-imgs">
                    <img src="~/img/female_customer_smiling1.jpg"/>
                    <img src="~/img/female_customer_smiling3.jpg" />
                    <img src="~/img/female_customer_smiling5.jpg" />
                    <img src="~/img/female_customer_smiling6.jpg" />
                </div>
                <p class="delivered-text">
                    At EiganUSA, our clients deserve to <span>profit</span> from their innovations.
                </p>
            </div>
        </div>
        <div class="hero-img-box">
            <img src="~/img/patent_analytics.png" class="hero-img" alt="EiganUSA marketing banner" />
        </div>
    </div>
</section>
<section class="section-how">
    <div class="container">
        <span class="subheading">The EiganUSA Ethos</span>
        <h2 class="heading-secondary" id="how">
            At EiganUSA, we coordinate with our clients to achieve competitive advantage
            within the IP space.
        </h2>
    </div>
    <div class="container grid grid--2-cols grid--center-v">
        <!-- STEP 01 -->
        <div class="step-text-box">
            <p class="step-number">01</p>
            <h3 class="heading-tertiary">
                Applied Research and Development
            </h3>
            <p class="step-description">
                It may seem obvious to initialize a patent portfolio through innovation. 
                How else is one supposed to do it? That may be true, but have you thought 
                about how you could take advantage of innovation as a means to expand your 
                patent portfolio from that initial kernel of innovation? This is what we will 
                discuss heretofore.
            </p>
            <p class="step-description">
                Albeit, birthing patentable technology is conceived through innovation. 
                That being said, how does one bring about innovation within the context 
                of creating patentable technologies? It is by finding good problems to solve. 
                Here then, it's to say that creating seminal technology which would provide 
                high value to a patent portfolio is brought about seeking, not "good" technology 
                to patent, but seeking technical problems as a means to tease out innovation, 
                where the technical realization of such foreground innovation is materialized 
                through technology, thus bringing about seminal (i.e. highly valuable) patent 
                technology. Therefore within the context of a business setting, where is the 
                most appropriate venue to tease out innovation from "interesting" problems? 
                This venue should be R&D (i.e. the Research and Development department).
            </p>
            <p class="step-description">
                Ultimately, through the exercise of applied R&D, this will give rise to seminal 
                technology in which to reap monetary rewards in lieu of patent-authorship and 
                foregoing licensing and litigation activities of that given patented-seminal 
                technology. However, have you considered that in the process of implementing 
                that seminal technology into a workable system, will there not be problems 
                promulgated in lieu of implementing that seminal technology? Then it is fair 
                to consider that in the process of producing a workable "prototype" for the 
                seminal technology, the issues-resolved may be in and of themselves patentable 
                technologies!
            </p>
        </div>
        <div class="step-img-box">
            <img src="~/img/E-Book Sale.png" class="step-img" alt="iPhone app screen" />
        </div>
        <!-- STEP 02 -->
        <div class="step-img-box">
            <img src="~/img/Webcrawler Sale.png" class="step-img" alt="iPhone app screen" />
        </div>
        <div class="step-text-box">
            <p class="step-number">02</p>
            <h3 class="heading-tertiary">
                Claim Construction Development
            </h3>
            <p class="step-description">
                Albeit, there are two primary components of a given claim's structure wherein 
                provide the value of the patent application as a whole; the first property is 
                scope, and the second property is validity. Now, what are the differences between 
                these two properties? The answer is that the value in which claims are derived is 
                from the scope of the given claims. That being said, if the value of the patent 
                is defined by the scope of the independent claims for which is drafter under the 
                given patent application, then why bother with dependent claims? The answer is 
                that dependent claims are the patent application's "back-up" if the 
                United States Patent and Trade Office (i.e. the USPTO) evaluates the 
                scope of a given claim to be too broad in scope therefore invalid to be 
                a legitimate patent claim. Likewise, dependent claims protect the 
                inventor from future patent litigation within the framework of a court of law.
            </p>
            <p class="step-description">
                Wherein, to preface, dependent claims are nested within an independent claim. 
                And, if such an independent claim is invalidated by the USPTO, this is not to 
                say that the claim in and of itself is invalidated. In as much, when 
                independent claims are found to be invalid by the USPTO, the USPTO will 
                then "substitute" the invalid independent claim, and look at the 
                foregoing dependent claims that are nested within that independent 
                claim's structure which was initially invalidated. Wherefore, the 
                dependent claim nested least within the given "invalidated" independent 
                claim's structure will be substituted into the space created within the 
                given claim's structure relative to the initial independent claim found to 
                be invalid. Now given the prior statement, how is the nesting of the 
                dependent claims important to the "backing-up" of a claim's 
                structure? To reiterate, invalidated independent claims will be 
                substituted by its nested dependent claims.
            </p>
        </div>
        <!-- STEP 03 -->
        <div class="step-text-box">
            <p class="step-number">03</p>
            <h3 class="heading-tertiary">
                Patent Portfolio Cultivation
            </h3>
            <p class="step-description">
                The principles of developing a healthy patent portfolio requires deliberation 
                even before the first patent application is sent to the United States Patent 
                and Trade Office (i.e. the USPTO). Here then, it is to say that the 
                development of a healthy patent portfolio requires strategic thinking.
                
            </p>
            <p class="step-description">
                As a means to detail the issue of strategic thinking in conjunction with 
                that of patent portfolio development, this strategic approach is the 
                intermingling of patent and corporate (e.g. company) strategy. To be 
                specific, the development of patent strategy is in lieu of the corporate
                strategy whereupon the development of that given patent strategy is to 
                directly support the strategic goals and aims of that company heretofore. 
                With this, the nurturing of a corporate strategy is beyond the scope of 
                this newsletter. That being said, in a broad sense, the universal principle 
                of corporate strategy is to occupy a strategic niche within the marketplace; 
                the marketplace is the space in which the given business conducts operations.
                Wherein, as a means to secure that niche-occupied, that given company is 
                motivated to both gain from ergo defend such a market position. With this, 
                this statement-aforementioned is the ethos as to why patent portfolio 
                development is paramount to overall-success in the achievement of a 
                given corporate strategy.
            </p>
            <p class="step-description">
                To describe, patent portfolio development and its underlying strategy 
                (in lieu of the corporate strategy) is primarily conducted within the 
                given company's Research and Development (i.e. R&D department). Here,
                one can see the organic intermingling of the patent strategy and 
                corporate strategy simply from where the production of patent 
                technology is taking place; the R&D department is central to the
                given company's relevance to the consumers' product-preferences 
                and market-desires.
            </p>
            </p>
            <p class="step-description">
                Thus, the value of developing a healthy patent portfolio is that it 
                leads to competitive advantage. Thus, monopolizing market share; 
                finally paving the way for that company to realize their corporate 
                goals and aims, underlying their corporate strategy by driving out 
                competition in lieu of patent thicket deployment.
            </p>
        </div>
        <div class="step-img-box">
            <img src="~/img/Consulting Sale.png" class="step-img" alt="iPhone app screen" />
        </div>
    </div>
</section>
<section class="section-cta" id="cta">
    <div class="container">
        <div class="cta">
            <div class="cta-text-box">
                <h2 class="heading-secondary">Enjoy a free 45 minute consultation!</h2>
                <p class="cta-text">
                    As one can deduce, the procurement of a patent holds a resonance to the idea of game theory.
                    How does the inventor win in the context of patent publishing? Find your answer by
                    texting or calling <span>(805)-807-4415</span>!
                </p>
            </div>
            <div class="cta-img-box" role="img" aria-label="Couple enjoying conversation"></div>
        </div>
    </div>
</section>
<section class="section-pricing" id="bundle">
    <div class="container">
        <span class="subheading">The PatentPrepper Bundle &reg;</span>
        <h2 class="heading-secondary">
            EiganUSA has been procedurally proven to satisfy USPTO Patent Examiner requirements. <ion-icon name="sparkles-outline"></ion-icon>
        </h2>
    </div>
    <div class="container grid grid--3-cols">
        <div class="pricing-plan">
            <header class="plan-header">
                <p class="plan-name">INTAKE</p>
                <p class="plan-price"><span>$</span>0</p>
                <p class="plan-text">A one-time-only flat fee!</p>
            </header>
            <ul class="list">
                <li class="list-item">
                    <ion-icon class="list-icon" name="checkmark-outline" size="large"></ion-icon>
                    <span>Intake consultation</span>
                </li>
            </ul>
            <div class="plan-sign-up">
                <a href="#" class="btn btn--full">Invest Now</a>
            </div>
        </div>
        <div class="pricing-plan">
            <header class="plan-header">
                <p class="plan-name">LEVEL A</p>
                <p class="plan-price"><span>$</span>150</p>
                <p class="plan-text">A one-time-only flat fee!</p>
            </header>
            <ul class="list">
                <li class="list-item">
                    <ion-icon class="list-icon" name="checkmark-outline" size="large"></ion-icon>
                    <span>A 2-hour consultation</span>
                </li>
            </ul>
            <div class="plan-sign-up">
                <a href="#" class="btn btn--full">Invest Now</a>
            </div>
        </div>
        <div class="pricing-plan">
            <header class="plan-header">
                <p class="plan-name">Level B</p>
                <p class="plan-price"><span>$</span>200</p>
                <p class="plan-text">A one-time-only flat fee!</p>
            </header>
            <ul class="list">
                <li class="list-item">
                    <ion-icon class="list-icon" name="checkmark-outline" size="large"></ion-icon>
                    <span>A 3-hour consultation</span>
                </li>
            </ul>
            <div class="plan-sign-up">
                <a href="#" class="btn btn--full">Invest Now</a>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container grid grid--footer">
        <div class="logo-col">
            <div class="footer-logo">
                <img class="logo" alt="EiganUSA logo" src="img/Eiganusa.png">
                <p class="copyright">
                    Copyright &copy; <span class="year">2024</span> by EiganUSA, LLC.
                    All rights reserved.
                </p>
            </div>     
        </div>
        <div class="address-col">
            <p  class="footer-heading">Contact us</p>
            <address class="contacts">
                <p class="address">623 Lorem St., Lorem Ipsum, CA 93010</p>
                <p>
                    <a class="footer-link" href="tel:805-807-4415">805-807-4415</a><br />
                    <a class="footer-link" href="mailto:alexeulerrrr@proton.me">alexeulerrrr@proton.me</a>
                </p>
            </address>
        </div>
        <nav class="nav-col">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">Create Account</a></li>
                <li><a class="footer-link" href="#">Sign In</a></li>
                <li><a class="footer-link" href="#">IOS App</a></li>
                <li><a class="footer-link" href="#">Android App</a></li>
            </ul>
        </nav>
        <nav class="nav-col">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">About EiganUSA</a></li>
                <li><a class="footer-link" href="#">For Business</a></li>
                <li><a class="footer-link" href="#">Consulting Partners</a></li>
                <li><a class="footer-link" href="#">Careers</a></li>
            </ul>
        </nav>
        <nav class="nav-col">
            <p class="footer-heading">Resources</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">Blog Directory</a></li>
                <li><a class="footer-link" href="#">Help Center</a></li>
                <li><a class="footer-link" href="#">Privacy and Terms</a></li>
            </ul>
        </nav>
    </div>
</footer>