@{
    ViewData["Title"] = "Welcome Page";
}

<section class="section-hero">
    <div class="hero">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                Providing those with a need to know.
            </h1>
            <p class="hero-description">
                At EigenUSA, we serve clients by transforming their ideas and innovations into
                tangible assets that can be sold, traded, used to obtain financing, etc.
            </p>
            <a class="btn btn--full margin-right-sm" asp-area="" asp-controller="Home" asp-action="Consulting">Click here for a free consultation</a>
            <a href="#how" class="btn btn--outline">Learn more &darr;</a>
            <div class="delivered-meals">
                <div class="delivered-imgs">
                    <img src="~/img/female_customer_smiling1.jpg"/>
                    <img src="~/img/female_customer_smiling3.jpg" />
                    <img src="~/img/female_customer_smiling5.jpg" />
                    <img src="~/img/female_customer_smiling6.jpg" />
                </div>
                <p class="delivered-text">
                    The Client deserves to <span>profit</span> from their own innovations.
                </p>
            </div>
        </div>
        <div class="hero-img-box">
            <img src="~/img/patent_analytics.png" class="hero-img" alt="EiganUSA marketing banner" />
        </div>
    </div>
</section>
<section class="section-how" id="how">
    <div class="container">
        <span class="subheading">The EiganUSA Ethos</span>
        <h2 class="heading-secondary">
            At EiganUSA, we coordinate with our clients to achieve competitive advantage
            within the IP space.
        </h2>
    </div>
    <div class="container grid grid--2-cols grid--center-v">
        <!-- STEP 01 -->
        <div class="step-text-box">
            <p class="step-number">01</p>
            <h3 class="heading-tertiary">
                Applied Research and Development
            </h3>
            <p class="step-description">
                Ultimately, through the exercise of applied R&D, this will give rise to seminal 
                technology in which to reap monetary rewards in lieu of patent-authorship and 
                foregoing licensing and litigation activities of that given patented-seminal 
                technology. However, have you considered that in the process of implementing 
                that seminal technology into a workable system, will there not be problems 
                promulgated in lieu of implementing that seminal technology? Then it is fair 
                to consider that in the process of producing a workable "prototype" for the 
                seminal technology, the issues-resolved may be in and of themselves patentable 
                technologies! Thus, as rule of thumb for any "high quality" patent portfolio, 
                the mere exploitation and cultivation of innovation will provide an organic 
                path towards developing a healthy and lucrative patent portfolio in lieu of 
                the seminal technology providing value to the given portfolio, and the supporting 
                technology meant to proliferate the span of that seminal technology, thus 
                amplifying value within the portfolio.
            </p>
        </div>
        <div class="step-img-box">
            <img src="~/img/iphone_banner_cta1.png" class="step-img" alt="iPhone app screen" />
        </div>
        <!-- STEP 02 -->
        <div class="step-img-box">
            <img src="~/img/iphone_banner_cta2.png" class="step-img" alt="iPhone app screen" />
        </div>
        <div class="step-text-box">
            <p class="step-number">02</p>
            <h3 class="heading-tertiary">
                Claim Construction Development
            </h3>
            <p class="step-description">
                To preface, dependent claims are nested within an independent claim. 
                And, if such an independent claim is invalidated by the USPTO, this is 
                not to say that the claim in and of itself is invalidated. In as much, 
                when independent claims are found to be invalid by the USPTO, the 
                USPTO will then "substitute" the invalid independent claim, and look 
                at the foregoing dependent claims that are nested within that independent 
                claim's structure which was initially invalidated. Wherefore, the dependent 
                claim nested least within the given "invalidated" independent claim's structure 
                will be substituted into the space created within the given claim's structure 
                relative to the initial independent claim found to be invalid. Now given the 
                prior statement, how is the nesting of the dependent claims important to the 
                "backing-up" of a claim's structure? To reiterate, invalidated independent 
                claims will be substituted by its nested dependent claims. Wherein, the 
                invalidated independent claim can be substituted by only one dependent claim. 
                Whereupon, the dependent claim-substituted (i.e. post-substitution) is no 
                longer classified as a dependent claim.
              
            </p>
        </div>
        <!-- STEP 03 -->
        <div class="step-text-box">
            <p class="step-number">03</p>
            <h3 class="heading-tertiary">
                Patent Portfolio Cultivation
            </h3>
            <p class="step-description">
                The interest of a patent strategy is manifested through, 
                mostly, in the form of a patent thicket. With this, a patent patent 
                thicket is a type of patent portfolio. Wherein, a patent thicket is 
                an aggregation of individual patents in orchestration to achieve the 
                aims of the already-developed patent strategy. Likewise, the composition 
                of the given patent thicket can be of different types of patent technologies,
                such as Utility patents, Design patents, etc. Wherein, the patent thicket 
                is to support the continued command of that given market-niche the company 
                occupies mentioned prior.
                Therefore, the importance of a patent thicket and its necessitation 
                for being implemented as a means to implement, and ultimately achieve 
                corporate strategy goals and aims is that through the development of a 
                patent thicket, which is focused at commanding market share to the 
                technology which is used to develop the products for the consumers in 
                which that given company, and other companies within that space 
                (i.e. competition) develop products for, the ability to command the 
                legal ownership of utilizing technology to develop those products, 
                will ultimately handicap the corresponding competition.
            </p>
        </div>
        <div class="step-img-box">
            <img src="~/img/iphone_banner_cta3.png" class="step-img" alt="iPhone app screen" />
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container grid grid--footer">
        <div class="logo-col">
            <div class="footer-logo">
                <img class="logo" alt="EiganUSA logo" src="img/Eiganusa.png">
                <p class="copyright">
                    Copyright &copy; <span class="year">2024</span> by EiganUSA, LLC.
                    All rights reserved.
                </p>
            </div>     
        </div>
        <div class="address-col">
            <p  class="footer-heading">Contact us</p>
            <address class="contacts">
                <p class="address">623 Lorem St., Lorem Ipsum, CA 93010</p>
                <p>
                    <a class="footer-link" href="tel:805-807-4415">805-807-4415</a><br />
                    <a class="footer-link" href="mailto:alexeulerrrr@proton.me">alexeulerrrr@proton.me</a>
                </p>

            </address>
        </div>
        <nav class="nav-col">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">Create Account</a></li>
                <li><a class="footer-link" href="#">Sign In</a></li>
                <li><a class="footer-link" href="#">IOS App</a></li>
                <li><a class="footer-link" href="#">Android App</a></li>
            </ul>
        </nav>
        <nav class="nav-col">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">About EiganUSA</a></li>
                <li><a class="footer-link" href="#">For Business</a></li>
                <li><a class="footer-link" href="#">Consulting Partners</a></li>
                <li><a class="footer-link" href="#">Careers</a></li>
            </ul>
        </nav>
        <nav class="nav-col">
            <p class="footer-heading">Resources</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">Blog Directory</a></li>
                <li><a class="footer-link" href="#">Help Center</a></li>
                <li><a class="footer-link" href="#">Privacy and Terms</a></li>
            </ul>
        </nav>
    </div>
</footer>