@{
    ViewData["Title"] = "Welcome Page";
}

<section class="section-hero">
    <div class="hero">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                A healthy meal delivered to your door, every single day
            </h1>
            <p class="hero-description">
                The smart 365-days-per-year food subscription
                that will make you eat healthy again. Tailored
                to your personal tastes and nutritional needs.
            </p>
            <a href="#" class="btn btn--full margin-right-sm">Start eating well</a>
            <a href="#" class="btn btn--outline">Learn more &darr;</a>
            <div class="delivered-meals">
                <div class="delivered-imgs">
                    <img src="~/img/female_customer_smiling1.jpg"/>
                    <img src="~/img/female_customer_smiling3.jpg" />
                    <img src="~/img/female_customer_smiling5.jpg" />
                    <img src="~/img/female_customer_smiling6.jpg" />
                </div>
                <p class="delivered-text">
                    <span>250,000+</span> meals delivered last year!
                </p>
            </div>
        </div>
        <div class="hero-img-box">
            <img src="~/img/patent_analytics.png" class="hero-img" alt="EiganUSA marketing banner" />
        </div>
    </div>
</section>