@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <main>
        <section>
            <div>
                <div>
                    <h1>
                        <p> 
                            your patent application, with your peace of mind as our directive
                        </p>
                    </h1>
                    <p>
                        Are you an aspiring inventor with groundbreaking ideas? Are you seeking to protect your
                        intellectual property through patent applications? Look no further!
                    </p>
                    <div>
                       <p class="bottom-50">
                          At <span class="heading-secondary">eigenthread</span>, we help you navigate the complex world of patenting.
                       </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container text-center align-content-center">
                <div class="row">
                    <div class="col">
                        <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
                        <div class="container">
                            <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light"
                                 data-type="VERTICAL" data-vanity="alexander-eul-a04395252" data-version="v1">
                                <a class="badge-base__link LI-simple-link"
                                   href="https://www.linkedin.com/in/alexander-eul-a04395252?trk=profile-badge"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-outline-info btn-lg">Patent Valuation</button>
                        </div>
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-outline-danger btn-lg">Patent Litigation</button>
                        </div>
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-outline-success btn-lg">Patent Portfolio Management</button>
                        </div>
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-outline-warning btn-lg">Ethos of Competitive Advantage</button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="container grid grid--2-cols">
                <button type="button" class="btn btn-outline-danger btn-lg">Patent Litigation</button>
                <button type="button" class="btn btn-outline-info btn-lg">Patent Valuation</button>
                <button type="button" class="btn btn-outline-success btn-lg">Patent Portfolio Management</button>
                <button type="button" class="btn btn-outline-warning btn-lg">Ethos of Competitive Advantage</button>
            </div>

            <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
            <div class="container">
                <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light"
                     data-type="VERTICAL" data-vanity="alexander-eul-a04395252" data-version="v1">
                    <a class="badge-base__link LI-simple-link"
                       href="https://www.linkedin.com/in/alexander-eul-a04395252?trk=profile-badge">Alexander Eul</a>
                </div>
            </div>*@
        </section>
    </main>
</div>