@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <main>
        <section>
            <div>
                <div>
                    <h1 class="call-to-action">your patent application, with your peace of mind as our directive</h1>
                    <p>
                        Are you an aspiring inventor with groundbreaking ideas? Are you seeking to protect your
                        intellectual property through patent applications? Look no further!
                    </p>
                    <div class="welcome-txt">
                       <p>
                          At <span class="heading-secondary">eigenthread</span>, we help you navigate the complex world of patenting.
                       </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container text-center align-content-center">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-outline-info btn-lg">Patent Valuation</button>
                        </div>
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-outline-danger btn-lg">Patent Litigation</button>
                        </div>
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-outline-success btn-lg">Patent Portfolio Management</button>
                        </div>
                        <div class="row justify-content-end">
                            <button type="button" class="btn btn-outline-warning btn-lg">Ethos of Competitive Advantage</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>