@{
    ViewData["Title"] = "Legal Notice - PluriPotent Analytics, LLC.";
}

<section class="section-hero">
    <section class="hero-contract">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                Terms and Conditions &mdash; Pluripotent Analystics, LLC.
            </h1>
            <p class="hero-description">
                Last Modefied: 2024-08-20
            </p>
            <p class="hero-description">
                These terms and conditions create a contract between you and Pluripotent Analytics, LLC.
            </p>
            <p class="hero-description">
                Thank you for choosing Pluripotent Analytics, LLC. By using, downloading, accessing, or copying content
                from our website or that of our affiliates, you agree to be bound by this agreement and any
                future novations to this agreement.You should review this Agreement from time to time to ensure you are aware of any changes.
            </p>
            <p class="hero-description">
                You must be at least 18 years old to use the Services.
                If you are using the Services on behalf of another person or entity,
                you must have the authority to accept the Terms on their behalf.
            </p>
            <p class="hero-description">
                These are the restricted uses that are standard for all Users. The Licensor prohibits the
                use of Materials in the following cases:
            </p>
            <p class="hero-description">
                In criminal, illegal, or other unlawful manner; or in violation of any applicable national, federal, state,
                local, or international law or regulation;
                To create or disseminate verifiably false or misleading information and/or content aiming to harm or deceive others;
                To create or disseminate personal identifiable information that can be used to harm an individual;
                For defamation, disparaging, harassment, discrimination, or promotion of violence or hatred towards a
                definite or indefinite group of people or an individual person;
                To exploit, harm, or attempt to exploit or harm minors in any manner;
                To provide medical advice or interpret medical results;
                To infringe or violate the intellectual property or other rights of any third party;
            </p>
            <p class="hero-description">
                <ion-icon name="sparkles-outline"></ion-icon> <span>
                    indicates that these statements have not been evaluated
                    by the United States Patent and Trademark Office.
                </span>
            </p>
        </div>
    </section>
    <section class="hero-contract">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                Legal Notice
            </h1>
            <h1 class="heading-primary">
                PluriPotent, LLC. &mdash; Terms of Use
            </h1>
            <div class="hero-description">
                These terms govern your usage of any content at <a href="https://www.PatentPrepper.com">www.PatentPrepper.com</a>
                (the “Website”) maintained by PluriPotent Analytics, LLC. and its affiliates or subsidiaries 
                from time to time (the “Company”).  <strong>Please read these terms before using the Website.</strong>
                By using this Website, you agree to abide by the Company’s then-current Website terms of use 
                and privacy policy and all applicable laws, statutes and/or regulations (the “terms”).  
                If you do not agree to all of these terms, do not access or otherwise use the Website.  
                The Company reserves the right in its sole discretion to amend, modify, supplement or 
                replace these terms at any time and for any reason.  Please check these terms 
                periodically for changes. Your continued usage of the Website after any change 
                will be deemed an acceptance of such changed terms.  Notwithstanding the foregoing, 
                no revisions to these terms will be effective with respect to any dispute that arose 
                between you and the Company prior to the date of such revision.
            </div>
            <div class="hero-description">
                The Website has been designed to provide general information about the Company and its products and other 
                related information from time to time. The information contained in this Website is not intended to 
                provide investment or medical advice.
            </div>
            <div class="hero-description">
                Everything you see on this Website (the “Content”), including, for example, all of the text, directories, 
                photographs, illustrations, graphics, audio clips, video clips, and audio-video clips, is copyrighted 
                under United States law and applicable international copyright laws and treaty provisions. The copyrights 
                for the Content are owned by Company or by third parties who have licensed their materials to the Company. 
                The entire Content of this website is copyrighted as a collective work under United States law and applicable 
                international copyright laws and treaties. The Company owns the copyright in the selection, coordination, 
                arrangement and enhancement of the Content. You may download, store, print, and copy selected portions of 
                the Content of this Website, provided you:
            </div>
            <div class="hero-description">
                Only use the Content you download for your personal, noncommercial use or to further your 
                business dealings with Company.
            </div>
            <div class="hero-description">
                Do not publish or post any part of the Content on any other Internet site without obtaining the
                prior written consent of Company.
            </div>
            <div class="hero-description">
                Do not publish or broadcast any part of the Content in or on any other media without obtaining 
                the prior written consent of Company.
            </div>
            <div class="hero-description">
                Do not modify or alter the Content in any way or delete or modify any copyright or trademark 
                notices or notices of confidentiality.
            </div>
            <div class="hero-description">
                No right, title or interest in the downloaded Content is transferred to you when you download 
                Content from this Website. Company reserves all intellectual property rights in any Content 
                you download from this Website. Except as expressly stated above, you may not copy, download, 
                print, publish, display, perform, distribute, transmit, transfer, translate, modify, add to, 
                update, compile, abridge or in any other way transform or adapt all or any part of the Content 
                without first obtaining written permission from Company.
            </div>
            <div class="hero-description">
                All product names, regardless of whether or not they appear in large print or with a 
                trademark symbol, are trademarks of the Company, its licensors, or other third parties. 
                The use or misuse of these trademarks or any other materials, except as permitted herein, 
                is expressly prohibited and may be in violation of copyright law, trademark law, 
                publication rights and communications regulations and statutes. Please be aware 
                that the Company actively and aggressively enforces its intellectual property 
                rights to the fullest extent of the law.
            </div>
            <div class="hero-description">
                While the Company intends to periodically update this Website, it undertakes no obligation 
                to do so and makes no representations or warranties as to its accuracy or completeness. 
                Access to and use of the content is solely at your own risk, and neither the Company 
                nor any party involved in creating content for the Website and/or maintaining or 
                delivering this Website shall be liable for any damage of any kind arising out of 
                the access, use or the inability to access or use this Website, or for any omissions 
                or errors contained in the Website.
            </div>
            <div class="hero-description">
                The Company welcomes your comments and feedback regarding this Website. All 
                information and materials, including comments, ideas, questions, designs, and 
                the like, submitted to the Company through this Website will be considered 
                NON-CONFIDENTIAL and NON-PROPRIETARY. For this reason, we ask that you not 
                send us any information or materials that you do not wish to assign to us, 
                including any confidential information or any original creative materials s
                uch as product ideas, computer code, or original artwork. By submitting 
                information or materials to the Company through this Website, you assign 
                to the Company, free of charge, all worldwide rights, title and interest 
                in all copyrights and other intellectual property rights in the information 
                or materials you submit. The Company will be entitled to use any information 
                or materials you submit through this website for any purpose whatsoever 
                subject to the Privacy Policy, without restriction and without compensating 
                you in any way.
            </div>
            <div class="hero-description">
                The Company may provide links to other sites, including social media sites such as 
                Facebook or Twitter (“Third Party Sites”), including the content therein, or 
                may embed certain content delivered by third parties, such as stock quotes 
                delivered by Thompson-Reuters (such third party content, whether located at 
                Third Party Sites or embedded within this Website, is collectively referred to herein 
                as “Third Party Content”).  The Company has no control over any Third Party Sites or 
                Third Party Content, and therefore makes no claim or representation regarding, and 
                expressly disclaims responsibility for, the accuracy, quality, legality, nature, 
                availability, or reliability of Third Party Sites or Third Party Content. The 
                Company provides links to or embeds Third Party Sites or Third Party Content 
                only as a convenience, and the inclusion of any link to a Third Party Site 
                or any Third Party Content on the Website does not imply our affiliation, 
                endorsement, or adoption of the linked or embedded Third Party Site or 
                Third Party Content. ACCESS AND USE OF THIRD PARTY SITES AND THIRD PARTY 
                CONTENT IS SOLELY AT YOUR OWN RISK. Our terms and policies do not govern 
                your use of any site other than the Website. You should review applicable 
                terms and policies, including the privacy and data gathering practices, of
                any Third Party Sites.
            </div>
        </div>
    </section>
</section>
