@{
    ViewData["Title"] = "Patents - PluriPotent Analytics, LLC.";
}

<section class="section-hero">
    <section class="hero-contract">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                Patents
            </h1>
            <div class="hero-description">
                The following PluriPotent Analytics, LLC. products, platforms and technology 
                are protected by patents in the United States and elsewhere. This website 
                page is provided to satisfy virtual patent marking provisions of various 
                jurisdictions including the virtual patent marking provisions of the America 
                Invents Act. In accordance with Section 287(a) of Title 35 of the United States 
                Code, notice is given. Additional patents and patent applications may also 
                be pending in the United States and internationally.
            </div>
        </div>
    </section>
</section>
<section class="section-hero">
    <section class="hero-contract">

    </section>
</section>
@*
    Append JS libraries and custom scripts to the bottom of the page.
*@
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>