
@{
    ViewData["Title"] = "Privacy Policy Page";
}

<section class="section-hero">
  @*
    <section class="hero-contract">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                Terms and Conditions &mdash; Pluripotent Analystics, LLC.
            </h1>
            <p class="hero-description">
                Last Modefied: 2024-08-20
            </p>
            <p class="hero-description">
                These terms and conditions create a contract between you and Pluripotent Analytics, LLC.
            </p>
            <p class="hero-description">
                Thank you for choosing Pluripotent Analytics, LLC. By using, downloading, accessing, or copying content
                from our website or that of our affiliates, you agree to be bound by this agreement and any
                future novations to this agreement.You should review this Agreement from time to time to ensure you are aware of any changes.
            </p>
            <p class="hero-description">
                You must be at least 18 years old to use the Services.
                If you are using the Services on behalf of another person or entity,
                you must have the authority to accept the Terms on their behalf.
            </p>
            <p class="hero-description">
                These are the restricted uses that are standard for all Users. The Licensor prohibits the
                use of Materials in the following cases:
            </p>
            <p class="hero-description">
                In criminal, illegal, or other unlawful manner; or in violation of any applicable national, federal, state,
                local, or international law or regulation;
                To create or disseminate verifiably false or misleading information and/or content aiming to harm or deceive others;
                To create or disseminate personal identifiable information that can be used to harm an individual;
                For defamation, disparaging, harassment, discrimination, or promotion of violence or hatred towards a
                definite or indefinite group of people or an individual person;
                To exploit, harm, or attempt to exploit or harm minors in any manner;
                To provide medical advice or interpret medical results;
                To infringe or violate the intellectual property or other rights of any third party;
            </p>
            <p class="hero-description">
                <ion-icon name="sparkles-outline"></ion-icon> <span>indicates that these statements have not been evaluated 
                    by the United States Patent and Trademark Office.</span>
            </p>
        </div>
    </section>
  *@
    <section class="hero-contract">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                Privacy Policy &mdash; Pluripotent Analytics, LLC.
            </h1>
            <p class="hero-description">
                Pluripotent Analytics, LLC. (“Company”) recognizes the importance of
                protecting the privacy of information we may receive from visitors 
                to our web site PatentPrepper.com (this “Website”). You may visit our 
                Website without telling us anything about yourself, and our Website 
                only collects such technical information as disclosed in this Privacy Policy. 
                If you contact us and choose to provide personally identifiable information 
                or other personal data, we will utilize it to respond to your inquiry, and as 
                permitted by law and this terms of this Privacy Policy.  
                This Privacy Policy does not apply to information collected by us 
                offline or through any other means, including on any other website operated by 
                Company or any third party (including our affiliates and subsidiaries), or 
                any third party (including our affiliates and subsidiaries), including through 
                any application or content (including advertising) that may link to or 
                be accessible from or on the Website.
            </p>
            <p class="hero-description">
                Please read this Privacy Policy carefully to understand our policies and practices 
                regarding your information and how we will treat it.  If you do not agree with 
                our policies and practices, your choice is not to use our Website.  By accessing or 
                using this Website, you agree to this Privacy Policy.  This Privacy Policy 
                may change from time to time, as described below.  Your continued use of this 
                Website after we make changes is deemed to be acceptance of those changes, so 
                please check this Privacy Policy periodically for updates.
            </p>
            <p class="hero-description">
                Pluripotent Analytics, LLC is committed to protecting your privacy. This Privacy Policy explains how 
                your personal information is collected, used, and disclosed by Pluripotent Analytics, LLC.
            </p>
            <p class="hero-description">
                This Privacy Policy applies to our website, and its associated subdomains (collectively, our "Service"). 
                By accessing or using our Service, you signify that you have read, understood, and agree to our collection, 
                storage, use, and disclosure of your personal information as described in this Privacy Policy.
            </p>
            <p class="hero-description">
                We are not responsible for the content or the privacy policies for any websites to which we provide links 
                or that provide links to our website.
            </p>
            <p class="hero-description">
                We may update this Privacy Policy from time to time. If we make changes, 
                we will notify you by revising the date at the top of the policy and, in some cases, 
                we may provide you with additional notice (such as adding a statement to our website 
                or sending you a notification). We encourage you to review the Privacy Policy whenever 
                you access the Services or otherwise interact with us to stay informed about our 
                information practices and the choices available to you.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Consultation or Services
            </h2>
            <p class="hero-description">
                The content of the Website is for informational purposes only and does
                not constitute professional medical advice, diagnosis, treatment, or
                recommendations of any kind.  Further, the Website is not intended for use
                in the diagnosis of disease or other conditions or in the cure, mitigation,
                treatment, or prevention of disease.  You should always seek the advice of a
                qualified health care professional with any questions or concerns you may
                have regarding your individual needs and any medical conditions.  Visiting
                the Website or providing information to the Company, including through any
                forms provided by the Company, does not create a physician-patient
                relationship, or any other relationship, between you and Company.
                Reliance on any information appearing on the Website without further
                consultation with a health care professional is solely at your own risk.
                Further, any information you submit through the Website is not
                “protected health information” under the Health Insurance Portability
                and Accountability Act of 1996 (“HIPAA”) nor is it clinical trial data.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Children under the Age of 13
            </h2>
            <p class="hero-description">
                Our Website is not intended for children under the age of 13.  No one under
                age 13 may provide any information to or on the Website.  We do not knowingly
                collect personal information from children under 13.  If you are under 13,
                do not use or provide any information on this Website or through any of its features,
                register on the Website, or provide any information about yourself to us, including
                your name, address, emails, or any user name you may use.  If we learn we have
                collected or received personal information from a child under 13 without
                verification of parental consent, we will delete that information.  If you
                believe we might have any information from or about a child under 13,
                please contact us at <a href="mailto:it@patentprepper.info"><span>it@patentprepper.info</span></a>.
            </p>
            <p class="hero-description">
                California residents under 16 years of age may have additional rights regarding the
                collection and sale of their personal information Please see “Your California Privacy Rights”
                for more information.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Notification of Changes to This Policy
            </h2>
            <p class="hero-description">
                Company is continually improving and adding new functionality and features to our 
                Website and improving and adding to our existing product line, services and programs. 
                Because of these ongoing changes, changes in the law and the changing nature of 
                technology, the Company data practices will change from time to time. If and when 
                our data practices change, Company will post the changes on this page of our 
                website in order to notify you of such changes. These changes to the Privacy Policy 
                will become effective when posted. Unless stated otherwise, our current Privacy Notice 
                applies to all personal data that we have about you. We stand behind the promises we make, 
                however, and will not materially change our policies and practices to make them less 
                protective of personal data collected in the past without the consent of affected individuals. 
                We encourage you to check this page frequently by clicking on the Privacy Policy 
                link on any page of our Website.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Information Collected Through the Website
            </h2>
            <p class="hero-description">
                The only personal information Company currently collects through this Website is the 
                information you send to us when you contact Company with your direct questions and 
                comments through this Website or when you complete a questionnaire through this Website.  
                The information Company collects includes: personal information such as name, 
                postal address, email address, telephone, or any other identifiers by which you 
                may be contacted online or offline; information that is about you but individually 
                does not identify you; and specific information you are requesting that may be related 
                to you and your health.  We also collect records and copies of your correspondence, if you contact us.
            </p>
            <p class="hero-description">
                Our Website may also send you to a third party website to collect your information on 
                behalf of Company.  Any third-party website to which you are directed will have its own 
                privacy policies and terms and conditions.  Please review the privacy policies and terms 
                and conditions of any third-party website for more details.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Security
            </h2>
            <p class="hero-description">
                Company takes certain precautions to protect our users’ information and to limit the risk 
                that it will be accessed without authorization, including use of certain industry standard 
                technologies and practices.  We cannot, however, ensure or warrant the security of any 
                information you transmit to Company, and you do so at your own risk.  If Company learns 
                of a security systems breach, then we may attempt to notify you electronically so that 
                you can take appropriate protective steps. Company may post a notice on the Website if 
                a security breach occurs.  Depending on where you live, you may have a legal right to 
                receive notice of a security breach in writing.  To receive a free written notice of a 
                security breach, or if you have any questions about the security of the Website, 
                please contact us at <a href="mailto:it@patentprepper.info"><span>it@patentprepper.info</span></a>.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Unsecured Email Warning
            </h2>
            <p class="hero-description">
                Please note that any information you send to Company via email is sent via an 
                unsecured email link. Due to the nature of the Internet, there is a possibility 
                that unsecured (unencrypted) email could be intercepted and read by third 
                parties. Company assumes no responsibility for interception of confidential 
                information (including in a resume or CV) that you send in an unsecured (unencrypted) email message.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Use of Personal Data Collected Through This Website
            </h2>
            <p class="hero-description">
                Company uses the information you provide to respond to your e-mail, answer your question,  resolve 
                your problem, or contact you with further information you have requested regarding Company, 
                including information regarding Company’s or its affiliates products and services or information 
                regarding clinical trials sponsored by Company or its affiliates. Company and our affiliates also 
                use this information to help us improve the content and functionality of our Website, to better 
                understand our customers and markets, and to improve our products and services. Company and our 
                affiliates may use this information to contact you in the future to tell you about products or 
                services we believe will be of interest to you or may disclose your information with third parties 
                to market their products or services, or to inform you of clinical trials sponsored by Company or 
                by its affiliates that you have indicated an interest in, if you have not opted out of these disclosures. 
                If we do so, each communication we send you will contain instructions permitting you to “opt-out” of 
                receiving future communications.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Anonymous Data Collected Through This Website
            </h2>
            <p class="hero-description">
                In addition to the information you provide when you use our Website, Company
                uses technology to collect anonymous information about the use of our Website. 
                For example, we use technology to track how many visitors access our Website, 
                the date and time of their visit, the length of their stay, and which pages they 
                view. We also use technology to determine which Web browsers our visitors use and 
                the address from which they accessed our site (for example, if they connected to 
                this Website by clicking on our link from another website). This technology does 
                not identify you personally. It simply enables us to compile statistics about our 
                visitors and their use of our Website. Company and our affiliates use this anonymous 
                data and share it with third parties to improve the content and functionality of our 
                Website, to better understand our customers and markets, and to improve our products and services.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Cookies
            </h2>
            <p class="hero-description">
                In order to collect the anonymous data described in the preceding paragraph, 
                Company may use temporary “cookies” that collect the first level domain name 
                of the user (for example, if your email address is <strong>“fred@123.com,”</strong> the cookie
                collects the “123.com” portion of your email address) and the date and time you accessed this Website. 
                Cookies by themselves cannot be used to discover the identity of the user. A cookie is a small piece 
                of information which is sent to your browser and stored on your computer’s hard drive. Cookies keep 
                track of non-personal information such as the URL that you came from and go to next, your navigation 
                through the Website (for example, the advertisements that you click on), the browser and operating 
                system that you use, and your IP address. Cookies do not damage your computer. You can set your browser 
                to notify you when you receive a cookie. This enables you to decide if you want to accept it or not. 
                The Help portion of the toolbar on most browsers will tell you how to prevent your browser from accepting 
                new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. 
                Additionally, you can disable or delete similar data used by browser add-ons, such as Flash cookies, by 
                changing the add-on’s settings or visiting the website of its manufacturer. At the present time, Company 
                only uses temporary or “session” cookies. These cookies expire when your browser window is closed.
            </p>
            <p class="hero-description">
                Contact us at <a href="mailto:it@patentprepper.info"><span>it@patentprepper.info</span></a>
                for information on how you can opt out of behavioral tracking on the Website and how 
                we respond to web browser signals and other mechanisms that enable consumers to exercise 
                choice about behavioral tracking.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Disclosure of Your Personal Data
            </h2>
            <p class="hero-description">
                Company may share personal data collected through this Website with our affiliates, 
                who will only use this data in accordance with this Privacy Policy.  Both Company 
                and our affiliates may share personal data collected through this website with third-party 
                vendors who act for or on behalf of Company or our affiliates, for example, companies that 
                provide support services to us, including data processing services, or that help us market 
                our products and services. These companies may need information about you in order to perform their functions. 
                These companies are not authorized to use the information we share with them for any other purpose. 
                In addition, there may be some other, limited circumstances in which Company or our affiliates may 
                share or transfer the personal data in our databases, for example, to comply with a legal requirement, 
                to enforce the Terms and Conditions governing the use of this Website, to protect your interests, 
                in the event of a corporate sale, merger, reorganization, dissolution or similar event, or to third 
                parties to market their products or services to you if you have not opted out of these disclosures.  
                California residents may have additional personal information rights and choices.  Please see 
                “Your Privacy Rights” for more information.  Nevada residents who wish to exercise their sale 
                opt-out rights under Nevada Revised Statutes Chapter 603A may submit a request to 
                <a href="mailto:it@patentprepper.info"><span>it@patentprepper.info</span></a>
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Link to Other Sites
            </h2>
            <p class="hero-description">
                This Privacy Policy applies only to Company. Company and our affiliates operate many different 
                types of websites for different purposes and in different countries where different laws may apply. 
                If you visit one of our affiliates’ Website, please take a moment to review the privacy policy 
                posted on that site to learn what personal data may be collected through that site and how it is 
                processed. This Website contains hyperlinks to websites that are not operated by Company or one 
                of our affiliates. These hyperlinks are provided for your reference and convenience only and do 
                not imply any endorsement of the activities of these third-party Websites or any association with 
                their operators. Company does not control these Websites and is not responsible for their 
                data practices. We urge you to review the privacy policy posted on any Website you visit 
                before using the site or providing any personal data about yourself.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Your California Privacy Rights
            </h2>
            <p class="hero-description">
                California residents may have additional personal information rights and choices.  
                To learn more about your California privacy rights, visit
                [<strong><a href="privacy-policy-2/#ccpa">CCPA Notice</a></strong>]
            </p>
            <p class="hero-description">
                California’s “Shine the Light” law (Civil Code Section § 1798.83) permits users 
                of the Website that are California residents to request certain information regarding 
                our disclosure of personal information to third parties for their marketing purposes.  
                To make such a request, please send an email to <a href="mailto:it@patentprepper.info"><span>it@patentprepper.info</span></a>.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Governing Law
            </h2>
            <p class="hero-description">
                This Privacy Policy forms part of our Website Terms and Conditions and as 
                such shall be governed by and construed in accordance with the laws of the 
                State of Delaware as further provided in the Terms and Conditions.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Questions About Our Privacy Policy
            </h2>
            <p class="hero-description">
                If you have any questions about this Privacy Policy or concerns about 
                the way Company processes your personal data, please contact us at <a href="mailto:it@patentprepper.info"><span>it@patentprepper.info</span></a>
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Privacy Notice for California Residents
            </h2>
            <p class="hero-description">
                Effective date: August 21, 2024
            </p>
            <p class="hero-description">
                This <strong>Privacy Notice for California Residents</strong> supplements the information contained in PluriPotent Analytics, LLC.’s 
                (the “Company”) <a href="/privacy-policy-2/#main-privacy"></a>Privacy Policy  and applies solely to all visitors, users, and others who 
                reside in the State of California (“consumers” or “you”). We adopt this notice to comply with the 
                California Consumer Privacy Act of 2018 (“CCPA”) and any terms defined in the CCPA have the same meaning when used in this Notice.
            </p>
            <h2 class="heading-secondary">
                Information We Collect
            </h2>
            <p class="hero-description">
                Our website collects information that identifies, relates to, describes, references, is reasonably capable 
                of being associated with, or could reasonably be linked, directly or indirectly, with a 
                particular consumer, household, or device (“<strong>personal information</strong>”). Personal information does
                not include: publicly available information from government records; deidentified or aggregated 
                consumer information; or information excluded from the CCPA’s scope, like health or medical 
                information covered by the Health Insurance Portability and Accountability Act of 1996 
                (“HIPAA”) and the California Confidentiality of Medical Information Act (“CMIA”) or clinical trial data.
            </p>
            <p class="hero-description">
                In particular, our website has collected the following categories of personal information from 
                its consumers within the last twelve (12) months:
            </p>
        </div>
    </section>
    <section class="hero-contract">
        <div class="hero-text-box">
            <h2 class="heading-tertiary">
                Category A: Identifiers
            </h2>
            <p class="hero-description">
                Examples: A real name, alias, postal address, unique personal identifier, online identifier, 
                Internet Protocol address, email address, account name, Social Security number, driver’s license 
                number, passport number, or other similar identifiers.
            </p>
            <p class="hero-description">
                Collected: YES
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-tertiary">
                Category B: Personal information categories listed in the California Customer Records statute (Cal. Civ. Code § 1798.80(e))
            </h2>
            <p class="hero-description">
                Examples: A name, signature, Social Security number, physical characteristics or description, address, 
                telephone number, passport number, driver’s license or state identification card number, insurance policy 
                number, education, employment, employment history, bank account number, credit card number, debit card number, 
                or any other financial information, medical information, or health insurance information. Some personal information 
                included in this category may overlap with other categories.
            </p>
            <p class="hero-description">
                Collected: YES
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-tertiary">
                Category C: Protected classification characteristics under California or federal law
            </h2>
            <p class="hero-description">
                Examples: Age (40 years or older), race, color, ancestry, national origin, citizenship, 
                religion or creed, marital status, medical condition, physical or mental disability, 
                sex (including gender, gender identity, gender expression, pregnancy or childbirth 
                and related medical conditions), sexual orientation, veteran or military status, 
                genetic information (including familial genetic information).
            </p>
            <p class="hero-description">
                Collected: YES
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-tertiary">
                Category D: Commercial information
            </h2>
            <p class="hero-description">
                Examples: Records of personal property, products or services purchased, obtained, or considered, 
                or other purchasing or consuming histories or tendencies.
            </p>
            <p class="hero-description">
                Collected: YES
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-tertiary">
                Category E: Biometric information
            </h2>
            <p class="hero-description">
                Examples: Genetic, physiological, behavioral, and biological characteristics, or activity patterns 
                used to extract a template or other identifier or identifying information, such as, fingerprints, 
                faceprints, and voiceprints, iris or retina scans, keystroke, gait, or other physical patterns, 
                and sleep, health, or exercise data.
            </p>
            <p class="hero-description">
                Collected: YES
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-tertiary">
                Category F: Internet or other similar network activity
            </h2>
            <p class="hero-description">
                Browsing history, search history, information on a consumer’s interaction with a 
                website, application, or advertisement.
            </p>
            <p class="hero-description">
                Collected: YES
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-tertiary">
                Category G: Geolocation data
            </h2>
            <p class="hero-description">
                Physical location or movements.
            </p>
            <p class="hero-description">
                Collected: YES
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-tertiary">
                Category H: Sensory data
            </h2>
            <p class="hero-description">
                Audio, electronic, visual, thermal, olfactory, or similar information.
            </p>
            <p class="hero-description">
                Collected: YES
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-tertiary">
                Category I: Professional or employment-related information
            </h2>
            <p class="hero-description">
                Current or past job history or performance evaluations.
            </p>
            <p class="hero-description">
                Collected: YES
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-tertiary">
                Category J: Non-public education information (per the Family Educational Rights and Privacy Act (20 U.S.C. Section 1232g, 34 C.F.R. Part 99))
            </h2>
            <p class="hero-description">
                Education records directly related to a student maintained by an educational institution or party acting 
                on its behalf, such as grades, transcripts, class lists, student schedules, student identification codes, 
                student financial information, or student disciplinary records.
            </p>
            <p class="hero-description">
                Collected: YES
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-tertiary">
                Category K: Inferences drawn from other personal information
            </h2>
            <p class="hero-description">
                Profile reflecting a person’s preferences, characteristics, psychological trends, predispositions, 
                behavior, attitudes, intelligence, abilities, and aptitudes.
            </p>
            <p class="hero-description">
                Collected: YES
            </p>
        </div>
    </section>
    <section class="hero-contract">
        <div class="hero-text-box">
            <p class="hero-description">
                Our Website collects the categories of personal information listed above from the following categories of sources:
            </p>
            <p class="hero-description">
                Directly from you. For example, from forms you complete when you contact us.
            </p>
            <p class="hero-description">
                Indirectly from you. For example, from observing your actions on our Website.
            </p>
            <p class="hero-description">
                Directly from you, as submitted to a third-party collecting your information on our behalf. 
                For example, from forms you complete when directed by our Website to a third-party website.
            </p>
        </div>
    </section>
    @*
        update hero-description to heading-secondary
    *@
    <section class="hero-contract">
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Use of Personal Information
            </h2>
            <p class="hero-description">
                We may use, sell, or disclose the personal information we collect for one or more of the following purposes:
            </p>
            <p class="hero-description">
                To fulfill or meet the reason you provided the information. For example, if you 
                share your name and contact information to ask a question, we will use that 
                personal information to respond to your inquiry. If you share your information 
                in a request for further information on clinical trials sponsored by Company or 
                by Company’s affiliates or other services or products, we will use or disclose 
                that personal information to contact you and to provide you with additional 
                information regarding the clinical trial, service, or product.
            </p>
            <p class="hero-description">
                To provide, support, personalize, and develop our Website.
            </P>
            <p class="hero-description">
                To provide you with support and to respond to your inquiries, including to investigate 
                and address your concerns and monitor and improve our responses.
            </p>
            <p class="hero-description">
                To personalize your Website experience and to deliver content and product and service 
                offerings relevant to your interests, including targeted offers and ads through our 
                Website, third-party sites, and via email or text message (with your consent, where required by law).
            </p>
            <p class="hero-description">
                As described to you when collecting your personal information or as otherwise set forth in the CCPA.
            </p>
            <p class="hero-description">
                We will not collect additional categories of personal information or use the personal information we collected 
                for materially different, unrelated, or incompatible purposes without providing you notice.
            </p>
        </div>
    </section>
    <section class="hero-contract">
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Sharing Personal Information
            </h2>
            <p class="hero-description">
                We may disclose your personal information to a third party for a business purpose or 
                sell your personal information, subject to your right to opt-out of those sales (see 
                “Personal Information Sales Opt-Out and Opt-In Rights”). When we disclose personal 
                information for a business purpose, we enter a contract that describes the purpose 
                and requires the recipient to both keep that personal information confidential and 
                not use it for any purpose except performing the contract. The CCPA prohibits third 
                parties who purchase the personal information we hold from reselling it unless you 
                have received explicit notice and an opportunity to opt-out of further sales.
            </p>
            <p class="hero-description">
                Disclosures of Personal Information for a Business Purpose
            </p>
            <p class="hero-description">
                In the preceding twelve (12) months, Company has disclosed the following categories of personal information for a business purpose:
            </p>
            <p class="hero-description">
                Category A: Identifiers.
            </p>
            <p class="hero-description">
                Category B: California Customer Records personal information categories. 
            </p>
            <p class="hero-description">
                Category C: Protected classification characteristics under California or federal law.
            </p>
            <p class="hero-description">
                Category D: Commercial information.
            </p>
            <p class="hero-description">
                Category E: Biometric information.
            </p>
            <p class="hero-description">
                Category F: Internet or other similar network activity.
            </p>
            <p class="hero-description">
                Category G: Geolocation data.
            </p>
            <p class="hero-description">
                Category H: Sensory data.
            </p>
            <p class="hero-description">
                Category I: Professional or employment-related information.
            </p>
            <p class="hero-description">
                Category J: Non-public education information.
            </p>
            <p class="hero-description">
                Category K: Inferences drawn from other personal information.
            </p>
        </div>
    </section>
    <section class="hero-contract">
        <div class="hero-text-box">
            <p class="hero-description">
                We disclose your personal information for a business purpose to the following categories of third parties:
            </p>
            <p class="hero-description">
                Affiliates and clinical providers in connection with Company-sponsored clinical trials.
            </p>
            <p class="hero-description">
                Service providers and third-party vendors.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Sales of Personal Information
            </h2>
            <p class="hero-description">
                In the preceding twelve (12) months, Company has not sold personal information.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Your Rights and Choices
            </h2>
            <p class="hero-description">
                The CCPA provides consumers (California residents) with specific rights regarding their personal information. 
                This section describes your CCPA rights and explains how to exercise those rights.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Access to Specific Information and Data Portability Rights
            </h2>
            <p class="hero-description">
                You have the right to request that Company disclose certain information to you about our collection and use of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer request, we will disclose to you:
            </p>
            <p class="hero-description">
                The categories of personal information we collected about you.
            </p>
            <p class="hero-description">
                The categories of sources for the personal information we collected about you.
            </p>
            <p class="hero-description">
                Our business or commercial purpose for collecting or selling that personal information.
            </p>
            <p class="hero-description">
                The categories of third parties with whom we share that personal information.
            </p>
            <p class="hero-description">
                The specific pieces of personal information we collected about you (also called a data portability request).
            </p>
            <p class="hero-description">
                If we sold or disclosed your personal information for a business purpose, two separate lists disclosing:
            </p>
            <p class="hero-description">
                Sales, identifying the personal information categories that each category sold; and
            </p>
            <p class="hero-description">
                Disclosures for a business purpose, identifying the personal information categories that each category of recipient obtained.
            </p>
        </div>
    </section>
    <section class="hero-contract">
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Deletion Request Rights
            </h2>
            <p class="hero-description">
                You have the right to request that Company delete any of your personal information 
                that we collected from you and retained, subject to certain exceptions. 
                Once we receive and confirm your verifiable consumer request, we will 
                delete (and direct our service providers to delete) your personal 
                information from our records, unless an exception applies.
            </p>
            <p class="hero-description">
                We may deny your deletion request if retaining the information is necessary 
                for us or our service provider(s) to:
            </p>
            <p class="hero-description">
                Take actions reasonably anticipated within the context of an ongoing business relationship with you.
            </p>
            <p class="hero-description">
                Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity, 
                or prosecute those responsible for such activities.
            </p>
            <p class="hero-description">
                Debug products to identify and repair errors that impair existing intended functionality.
            </p>
            <p class="hero-description">
                Exercise free speech, ensure the right of another consumer to exercise their free speech rights, 
                or exercise another right provided for by law.
            </p>
            <p class="hero-description">
                Comply with the California Electronic Communications Privacy Act (Cal. Penal Code § 1546 et. seq.).
            </p>
            <p class="hero-description">
                Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest 
                that adheres to all other applicable ethics and privacy laws, when the information’s deletion may likely 
                render impossible or seriously impair the research’s achievement if you previously provided informed consent.
            </p>
            <p class="hero-description">
                Enable solely internal uses that are reasonably aligned with consumer expectations based on your relationship 
                with us.
            </p>
            <p class="hero-description">
                Comply with a legal obligation.
            </p>
            <p class="hero-description">
                Make other internal and lawful uses of that information that are compatible with the context in which you provided it.
            </p>
        </div>
        <div class="hero-text-box">
            <h2 class="heading-secondary">
                Exercising Access, Data Portability, and Deletion Rights
            </h2>
            <p class="hero-description">
                To exercise the access, data portability, and deletion rights described above, please submit a verifiable consumer request to us by either:
            </p>
            <p class="hero-description">
                Calling us at <a href="tel:805-754-9570">805-754-9570</a><br />
            </p>
            <p class="hero-description">
                Emailing us at <a href="mailto:it@patentprepper.info">it@patentprepper.info</a>
        </div>
    </section>
    <section class="hero-contract">
            <div class="hero-text-box">
                <p class="hero-description">
                    Only you, or someone legally authorized to act on your behalf, may make a verifiable consumer request related 
                    to your personal information. You may also make a verifiable consumer request on behalf of your minor child.
                </p>
                <p class="hero-description">
                    You may only make a verifiable consumer request for access or data portability twice within a 12-month period. 
                    The verifiable consumer request must:
                </p>
                <p class="hero-description">
                    Provide sufficient information that allows us to reasonably verify you are the person about whom we 
                    collected personal information or an authorized representative.
                </p>
                <p class="hero-description">
                    Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.
                </p>
                <p class="hero-description">
                    We cannot respond to your request or provide you with personal information if we cannot 
                    verify your identity or authority to make the request and confirm the personal information relates to you.
                </p>
                <p class="hero-description">
                    We will only use personal information provided in a verifiable consumer request to verify the requestor’s 
                    identity or authority to make the request.
                </p>
                <p class="hero-description">
                    For instructions on exercising sale opt-out rights, see “Personal Information Sales Opt-Out and Opt-In Rights.”
                </p>
                <p class="hero-description">
                    Response Timing and Format
                </p>
                <p class="hero-description">
                    We endeavor to respond to a verifiable consumer request within forty-five (45) days of its receipt. 
                    If we require more time (up to 90 days), we will inform you of the reason and extension period in writing.
                </p>
                <p class="hero-description">
                    We will deliver our written response by mail or electronically, at your option.
                </p>
                <p class="hero-description">
                    Any disclosures we provide will only cover the 12-month period preceding the verifiable 
                    consumer request’s receipt. The response we provide will also explain the reasons we 
                    cannot comply with a request, if applicable. For data portability requests, we will 
                    select a format to provide your personal information that is readily useable and should 
                    allow you to transmit the information from one entity to another entity without hindrance.
                </p>
                <p class="hero-description">
                    We do not charge a fee to process or respond to your verifiable consumer request 
                    unless it is excessive, repetitive, or manifestly unfounded. If we determine that 
                    the request warrants a fee, we will tell you why we made that decision and provide 
                    you with a cost estimate before completing your request.
                </p>
            </div>
        </section>
        <section class="hero-contract">
            <div class="hero-text-box">
                <h2 class="heading-secondary">
                    Personal Information Sales Opt-Out and Opt-In Rights
                </h2>
                <div class="hero-description">
                    If you are 16 years of age or older, you have the right to direct us to not sell your personal 
                    information at any time (the “right to opt-out”). We do not sell the personal information of 
                    consumers we actually know are less than 16 years of age. Consumers who opt-in to personal 
                    information sales may opt-out of future sales at any time.
                </div>
                <div class="hero-description">
                    To exercise the right to opt-out, you (or your authorized representative) may submit a 
                    request to us by visiting the following Internet Web page link:
                </div>
                <div class="hero-description">
                    <a href="mailto:it@patentprepper.info">Do Not Sell My Personal Information</a>
                </div>
            </div>
        </section>
        <section class="hero-contract">
            <div class="hero-text-box">
                <div class="hero-description">
                    You may also make an opt-out request by:
                </div>
                <div class="hero-description">
                    You may also make an opt-out request by:
                </div>
                <div class="hero-description">
                    <a href="tel:805-754-9570">Phone: 805-754-9570</a><br />
                </div>
                <div class="hero-description">
                     <a href="mailto:it@patentprepper.info">Email: it@patentprepper.com</a>
                </div>
                <div class="hero-description">
                    Once you make an opt-out request, we will wait at least twelve (12) months 
                    before asking you to reauthorize personal information sales. However, 
                    you may change your mind and opt back in to personal information sales 
                    at any time by emailing <a href="mailto:it@patentprepper.info">it@patentprepper.info</a>
                </div>
                <div class="hero-description">
                    We will only use personal information provided in an opt-out request to 
                    review and comply with the request.
                </div>
            </div>
        </section>
        <section class="hero-contract">
            <div class="hero-text-box">
                <h2 class="heading-secondary">
                    Non-Discrimination
                </h2>
                <div class="hero-description">
                    We will not discriminate against you for exercising any of your CCPA rights.
                </div>
            </div>
        </section>
        <section class="hero-contract">
            <div class="hero-text-box">
                <h2 class="heading-secondary">
                    Changes to Our Privacy Notice
                </h2>
                <div class="hero-description">
                    We reserve the right to amend this privacy notice at our discretion and at any time. 
                    When we make changes to this privacy notice, we will post the updated notice on the 
                    Website and update the notice’s effective date.
                    <strong>Your continued use of our Website following the posting of changes constitutes 
                        your acceptance of such changes.</strong>
                </div>
            </div>
        </section>
        <section class="hero-contract">
            <div class="hero-text-box">
                <h2 class="heading-secondary">
                    Contact Information
                </h2>
                <div class="hero-description">
                    If you have any questions or comments about this notice, the ways in which 
                    the Company collects and uses your information described and in the Privacy Policy, 
                    your choices and rights regarding such use, or wish to exercise your rights under 
                    California law, contact us at:
                </div>
                <div class="hero-description">
                    <a href="tel:805-754-9570">Phone: 805-754-9570</a><br />
                </div>
                <div class="hero-description">
                    <a href="mailto:it@patentprepper.info">Email: it@patentprepper.com</a>
                </div>
            </div>
        </section>
</section>
