
@{
    ViewData["Title"] = "Legal Page";
}

<section class="section-hero">
    <section class="hero-contract">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                EiganUSA Terms and Conditions
            </h1>
            <p class="hero-description">
                These terms and conditions create a contract between you and EiganUSA.
            </p>
            <p class="hero-description">
                Thank you for choosing EiganUSA. By using, downloading, accessing, or copying content
                from our website or that of our affiliates, you agree to be bound by this agreement and any
                future novations to this agreement.You should review this Agreement from time to time to ensure you are aware of any changes.
            </p>
            <p class="hero-description">
                You must be at least 18 years old to use the Services.
                If you are using the Services on behalf of another person or entity,
                you must have the authority to accept the Terms on their behalf.
            </p>
            <p class="hero-description">
                These are the restricted uses that are standard for all Users. The Licensor prohibits the
                use of Materials in the following cases:
            </p>
            <p class="hero-description">
                In criminal, illegal, or other unlawful manner; or in violation of any applicable national, federal, state,
                local, or international law or regulation;
                To create or disseminate verifiably false or misleading information and/or content aiming to harm or deceive others;
                To create or disseminate personal identifiable information that can be used to harm an individual;
                For defamation, disparaging, harassment, discrimination, or promotion of violence or hatred towards a
                definite or indefinite group of people or an individual person;
                To exploit, harm, or attempt to exploit or harm minors in any manner;
                To provide medical advice or interpret medical results;
                To infringe or violate the intellectual property or other rights of any third party;
            </p>
            <p class="hero-description">
                <ion-icon name="sparkles-outline"></ion-icon> <span>indicates that these statements have not been evaluated by the United States Patent and Trademark Office.</span>
            </p>
        </div>
    </section>
    <section class="hero-contract">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                EiganUSA Privacy Policy
            </h1>
            <p class="hero-description">
                EiganUSA is committed to protecting your privacy. This Privacy Policy explains how your personal information is collected, used, and disclosed by EiganUSA.
            </p>
            <p class="hero-description">
                This Privacy Policy applies to our website, and its associated subdomains (collectively, our "Service") alongside our application, EiganUSA. By accessing or using our Service, you signify that you have read, understood, and agree to our collection, storage, use, and disclosure of your personal information as described in this Privacy Policy and our Terms of Service.
            </p>
            <p class="hero-description">
                We are not responsible for the content or the privacy policies for any websites to which we provide links or that provide links to our website.
            </p>
            <p class="hero-description">
                We may update this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy and, in some cases, we may provide you with additional notice (such as adding a statement to our website or sending you a notification). We encourage you to review the Privacy Policy whenever you access the Services or otherwise interact with us to stay informed about our information practices and the choices available to you.
            </p>
        </div>
    </section>
</section>
